# 01 Import Libraries and Dataframes

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Import dataframes
path = r'/Users/Nick/Documents/CareerFoundry/Immersion 4/Instacart Basket Analysis 11.11.21'
df_ord_prod_prior = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

# 02 Task

## 02.04

In [3]:
#Check shape of pickle file
df_ord_prod_prior.shape

(32434489, 10)

#### The shape matches the as the exported pickle file.

## 02.05

In [4]:
df_ord_prod_prior.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [5]:
#Drop indicator
df_ord_prod_prior = df_ord_prod_prior.drop(columns = ['_merge'])

In [6]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [7]:
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [8]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_prods.shape

(49672, 5)

In [10]:
#Merge Products to Orders Products Prior
df_opp_merge_prods = df_ord_prod_prior.merge(df_prods, on = 'product_id', indicator = True)

## 02.06

In [12]:
#Count _merge
df_opp_merge_prods['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

## 02.07

In [13]:
#Export Orders Products Prior merge Products
df_opp_merge_prods.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))