# 01 Import Libraries and Dataframe

In [2]:
#Import Libaries
import pandas as pd
import numpy as np
import os

In [2]:
#Import Orders & Products dataframe
path = r'/Users/Nick/Documents/CareerFoundry/Immersion 4/Instacart Basket Analysis 11.11.21/02 Data/Prepared Data'
ords_prods_merged = pd.read_pickle(os.path.join(path, 'orders_products_merged.pkl'))

In [3]:
#Create subset of Orders & Products for size concerns
df = ords_prods_merged[:1000000]
df.shape

(1000000, 14)

# 02 If-Statements with User-Defined Functions

In [6]:
#Define price label function for labeling item price range
def price_label(row):
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High-range product'
    else:
        return 'Not enough data'

In [7]:
#Implement price label function
df['price_range'] = df.apply(price_label, axis =1)

<ipython-input-7-96e95b3cc15d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis =1)

In [8]:
#Price range count
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [9]:
#Check that there are no high-range products
df['prices'].max()

14.8

# 03 If-Statements with the loc() Function

### Define loc() conditions to label item price range in subset dataframe

In [10]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [11]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [12]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [13]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

### Define loc() conditions to label item price range for entire Orders & Products dataframe

In [14]:
ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [15]:
ords_prods_merged.loc[(ords_prods_merged['prices'] <= 15) & (ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [16]:
ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [17]:
#Price range count
ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

# 04 If-Statements with For-Loops

### Goal is to summarize how busy each day of the week is

In [21]:
#Order count for each DoW
ords_prods_merged['order_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

In [22]:
#Populate 'result' list with busiest day filters
result = []

for value in ords_prods_merged['order_day_of_week']:
    if value == 0:
        result.append('Busiest day')
    elif value == 4:
        result.append('Least busy day')
    else:
        result.append('Regularly busy day')

In [23]:
#Create busiest day column
ords_prods_merged['busiest_day'] = result

In [24]:
#Count busiest day column to verify frequency
ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy day    22416875
Busiest day            6204182
Least busy day         3783802
Name: busiest_day, dtype: int64

# 05 Task

## 05.02

In [27]:
#Create list for busiest days column

result = []

for value in ords_prods_merged['order_day_of_week']:
    if (value == 0) or (value == 1):
        result.append('Busier day')
    elif (value == 4) or (value == 3):
        result.append('Less busy day')
    else:
        result.append('Regular day')

In [28]:
#Create busiest days column
ords_prods_merged['busiest_days'] = result

## 05.03

In [29]:
#Count busiest days column to verify frequency
ords_prods_merged['busiest_days'].value_counts(dropna = False)

Regular day      12916111
Busier day       11864412
Less busy day     7624336
Name: busiest_days, dtype: int64

#### The count matches.

## 05.04

In [30]:
#Find name of hour of day column
ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy day,Regular day
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy day,Less busy day
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy day,Less busy day
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy day,Less busy day
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy day,Less busy day

In [32]:
#Order count for each hour of day
ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [33]:
#Create list for busiest hours column

result = []

for value in ords_prods_merged['order_hour_of_day']:
    if value == 10:
        result.append('Most orders')
    elif value == 3:
        result.append('Fewest orders')
    else:
        result.append('Average orders')

In [35]:
#Create busiest hours column
ords_prods_merged['busiest_period_of_day'] = result

## 05.05

In [36]:
#Count busiest hours column to verify frequency
ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

Average orders    29591818
Most orders        2761760
Fewest orders        51281
Name: busiest_period_of_day, dtype: int64

#### 32,404,859 rows in this dataframe.

## 05.07

In [40]:
#Export ords_prods_merged as pickle
ords_prods_merged.to_pickle(os.path.join(path, 'orders_products_merged_newvar.pkl'))